@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="content-section">
        <h2>Products</h2>
        <div class="content-links">
            <a href="https://lin.ee/ta1JGrS" target="_blank" rel="noreferrer noopener" class="link-box">
                <i class="fa-brands fa-line fa-xl"></i>
                <span>AIギャル アシスタント</span>
            </a>
        </div>
    </div>

    <div class="content-section">
        <h2>Socials</h2>
        <div class="content-links">
            <a href="https://www.youtube.com/@@OtonagiYu" target="_blank" rel="noreferrer noopener" class="link-box">
                <i class="fa-brands fa-youtube fa-xl"></i>
                <span>YouTube</span>
            </a>
            <a href="https://x.com/OtonagiYu" target="_blank" rel="noreferrer noopener" class="link-box">
                <i class="fa-brands fa-x-twitter fa-xl"></i>
                <span>X</span>
            </a>
            <a href="https://github.com/nagiyu" target="_blank" rel="noreferrer noopener" class="link-box">
                <i class="fa-brands fa-github fa-xl"></i>
                <span>GitHub</span>
            </a>
            <a href="https://blog.nagiyu.com" target="_blank" rel="noreferrer noopener" class="link-box">
                <i class="fa-brands fa-wordpress fa-xl"></i>
                <span>Blog</span>
            </a>
        </div>
    </div>
</div>
