@using System.Linq
@using Home.Models;

@{
    ViewData["Title"] = "プライバシーポリシー";
}

<h1>@ViewData["Title"]</h1>

<p>音和 柚羽（以下，「なぎゆー」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>

@for (int i = 0; i < Model.Count; i++)
{
    Privacy term = Model[i];
    <h2>第@(i + 1)条（@term.Title）</h2>
    <ol>
        @foreach (var content in term.Contents)
        {
            <li>
                @content.MainContent
                @if (content.SubContents != null && content.SubContents.Any())
                {
                    <ol>
                        @foreach (var subContent in content.SubContents)
                        {
                            <li>
                                @subContent.SubContent
                                @if (subContent.SubItems != null && subContent.SubItems.Any())
                                {
                                    <ol>
                                        @foreach (var subItem in subContent.SubItems)
                                        {
                                            <li>@subItem</li>
                                        }
                                    </ol>
                                }
                            </li>
                        }
                    </ol>
                }
                @if (!string.IsNullOrWhiteSpace(content.Link))
                {
                    <a href="https://forms.gle/oxzHNFBWBpFGNaKm7" target="_blank" rel="noreferrer">リンク</a>
                }
            </li>
        }
    </ol>
}

<p>以上</p>
