@using System.Linq;
@using Home.Models;

@{
    ViewData["Title"] = "利用規約";
}

<h1>@ViewData["Title"]</h1>

<p>この利用規約（以下，「本規約」といいます。）は，音和 柚羽（以下，「なぎゆー」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。</p>

@for (int i = 0; i < Model.Count; i++)
{
    Term term = Model[i];
    <h2>第@(i + 1)条（@term.Title）</h2>
    <ol>
        @foreach (var content in term.Contents)
        {
            <li>
                @content.MainContent
                @if (content.SubItems != null && content.SubItems.Any())
                {
                    <ol>
                        @foreach (var subItem in content.SubItems)
                        {
                            <li>@subItem</li>
                        }
                    </ol>
                }
            </li>
        }
    </ol>
}

<p>以上</p>
